body {
    background-image: url("Background.jpg");
    background-size: cover;
     background-attachment: fixed;
}

.jumbotron h1 {
  max-height: 50px;
  background-color: transparent;
  font-family: 'Actor', sans-serif;
  text-align: center;
  color:#616161;
}
}
body {
	text-align: center;
}


h2 {
	font-family: 'Actor', sans-serif;
	padding: 0px 100px 0px 100px;
	color:#616161;
	text-align: center;
}

h3 {
	font-family: 'Actor', sans-serif;
	font-size: 20px;
	padding: 30px 100px 100px 100px;
	color:white;
}

.jumbotron img {
width: 150px;
float: right;
}

.menu a {
	color: white;
	font-family: 'Noto Sans', sans-serif; font-size: 20px;
	margin-left: 5px;
	margin-right: 5px;

}

.menu {
	background-color:rgba(72,72,72,0.6);
	padding: 10px;
	text-align: center;
}


#first > img {
	width: 85%;
	height: 35%;
	padding: 0px 100px 0px 100px
	max-width: 100%;
}

    @media (max-width: 500px) {
    img {
    max-height: 300px;
	max-width: 700px;
    }
    }

h2 {
	color: white;
	background-color:rgba(72,72,72,0.6);
	font-family: 'Noto Sans', sans-serif; font-size: 20px;
}
h3 {
	font-family: 'Actor', sans-serif;
	font-size: 20px;
	padding: 30px 100px 100px 100px;
	color:white;
	background-color: #b2dfdb;

}
.button1 {
	padding: 0px 100px 0px 100px;
}

#second > img {
	max-height: 20px;
	max-width: 20px;
	width: 20px;
	height: 20px
	padding: 10px 10px 10px 10px;
}

#third > img {
	max-height: 20px;
	max-width: 20px;
	width: 20px;
	height: 20px
	padding: 10px 10px 10px 10px;
}

#fourth > img {
	max-height: 20px;
	max-width: 20px;
	width: 20px;
	height: 20px
	padding: 10px 10px 10px 10px;
}

.instagram-media {
	padding: 10px 10px 10px 10px;
	margin: 50px 50px 50px 50px;
}

