body {
	text-align: center;
}

h1 {
	font-family: 'Actor', sans-serif;
	text-align: center;
	color:#616161;
}

h2 {
	font-family: 'Actor', sans-serif;
	padding: 0px 100px 0px 100px;
	color:#616161;
}

h3 {
	font-family: 'Actor', sans-serif;
	font-size: 20px;
	padding: 30px 100px 100px 100px;
	color:white;
	background-color: #b2dfdb;

}

.festivemarkets {
	font-family: 'Poiret One', cursive;
	color: white;
	font-size: 60px;
	padding: 30px 30px 30px 30px; 
	text-align: center;
	background-image: url(background.jpg); opacity: 0.8;
}

p {
	
	font-family: 'Actor', sans-serif;
	font-size: 16px;
	padding: 0px 100px 0px 100px;
	color:#616161;
}

li {
	font-family: 'Actor', sans-serif;
	padding: 0px 100px 0px 100px;
}

.menu a {
	color: grey;
	font-family: 'Noto Sans', sans-serif; font-size: 20px;
	margin-left: 5px;
	margin-right: 5px;

}

.menu {
	background-color:rgba(50, 180, 50, 0.2);
	padding: 10px;
	text-align: center;
}


#first > img {
	width: 85%;
	height: 35%;
	padding: 0px 100px 0px 100px
	max-width: 100%;
}

    @media (max-width: 500px) {
    img {
    max-height: 300px;
	max-width: 700px;
    }
    }

.button1 {
	padding: 0px 100px 0px 100px;
}

#second > img {
	max-height: 20px;
	max-width: 20px;
	width: 20px;
	height: 20px
	padding: 10px 10px 10px 10px;
}

#third > img {
	max-height: 20px;
	max-width: 20px;
	width: 20px;
	height: 20px
	padding: 10px 10px 10px 10px;
}

#fourth > img {
	max-height: 20px;
	max-width: 20px;
	width: 20px;
	height: 20px
	padding: 10px 10px 10px 10px;
}

.instagram-media {
	padding: 10px 10px 10px 10px;
	margin: 50px 50px 50px 50px;
}

